{% extends 'layout.html' %}
{% load mathfilters %}
{% block body %}
{% load crispy_forms_tags %}
   
<style>
  body{
      background-image: url("https://media.istockphoto.com/id/1284691550/tr/vekt%C3%B6r/mavi-soyut-geometrik-dinamik-%C5%9Fekil-ka%C4%9F%C4%B1t-katmanlar%C4%B1-ince-arka-plan-vekt%C3%B6r%C3%BC.jpg?s=612x612&w=0&k=20&c=djfwtnBbWTzCgzUHOBdmkAWkBFqi8fByHdZl8hdckbQ=");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }
</style>
<br>
<br>
<table class="table" border='3'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kullanıcı Adı</th>
      <th scope="col">Tutar</th>
      <th scope="col">Alışveriş Türü</th>
      <th scope="col">Tarih</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
    
  {% for hesap in hesaps %}
    <tr>
      <th scope="row">{{hesap.id}}</th>
      <td>{{hesap.author}}</td>
      <td>{{hesap.total}}</td>
      <td>{{hesap.shopping_type}}</td>
      <td>{{hesap.created_date}}</td>
      <td><a href="/expenses/delete/{{hesap.id}}" class = "btn btn-danger">Sil</a></td>
    </tr>
  {% endfor %}

    
  </tbody>
</table>


    <br><br>


<table class="table" border="4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kullanıcı Adı</th>
      <th scope="col">Tutar</th>
      <th scope="col">Ortalama </th>
      <th scope="col">Ödenecek</th>
      
    </tr>
  </thead>
  <tbody>
  
    


  {% for user in users %}
    <tr>
      
      <th scope="row">{{user.id}}</th>
      <td>{{user.username}}</td>
      <td>
        {% if user.total_price == None %}
          0
        {% else %}
          {{user.total_price}}
        {% endif %}
      </td>
      <td>{{ort}}</td>
      <td>
        {% if user.total_price == None  %}
          {{ort}}
        {% else %}
          {{ort|sub:user.total_price}}
        {% endif %}
          </td>
    </tr>
      
    

  {% endfor %}


  
  </tbody>

</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  Hesap Tamamlandı
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hesap Sil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="popup" action="verifypassword/" >
            {% csrf_token %}
            {{ form1 }}
            
         </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button type="submit" class="btn btn-primary" form="popup" >Hepsini Sil</button>
      </div>
    </div>
  </div>
</div>




{% endblock body %}